%h1 Listing feature_banners

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Image
      %th Link
      %th
      %th
      %th

  %tbody
    - @feature_banners.each do |feature_banner|
      %tr
        %td= feature_banner.name
        %td= feature_banner.description
        %td= feature_banner.image
        %td= feature_banner.link
        %td= link_to 'Show', feature_banner
        %td= link_to 'Edit', edit_feature_banner_path(feature_banner)
        %td= link_to 'Destroy', feature_banner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feature banner', new_feature_banner_path
