%p#notice= notice

%p
  %b Name:
  = @feature_banner.name
%p
  %b Description:
  = @feature_banner.description
%p
  %b Image:
  = @feature_banner.image
%p
  %b Link:
  = @feature_banner.link

= link_to 'Edit', edit_feature_banner_path(@feature_banner)
\|
= link_to 'Back', feature_banners_path
