%script{:src => "/scripts/masonry.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.init.js", :type => "text/javascript"}
#services
  .container
    .row
      .row.services
        .col-sm-12
          .row
            %h1 All Tracks
            %p= link_to "New Track", new_track_path
            .grid
              -for track in @tracks
                .grid-item.grid-sizer.col-sm-4.servicebox.featured_club
                  .servicebox-image
                    %a.vid-item.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "#{track.track}"}
                      %img{:alt => "#{track.title}", :src => "#{track.image_url(:thumb)}"}
                  .servicebox-inner
                    %p
                      #{track.title}
                  .servicebox-inner
                    %p
                     = link_to "edit", edit_track_path(track) | 
                      = button_to 'delete', track, confirm: 'Are you sure?', method: :delete

/ end music
:javascript
  $(document).ready(function(){
    document.getElementById('#vilage_picks').classList.add("active");
  });

