%script{:src => "/scripts/isotope.init.js", :type => "text/javascript"}
#services
  .container
    .row
      .container-fluid
        .row.gallery.text-center
          .col-md-12.noPadding
            .gallery-photo-grid
              .gallery-photos
                .gallery-photos-thumb
                  -for artist in @artists  
                    - if(artist.category == "model")
                      .gallery-photo-item.mix.model.wow.fadeIn
                        %a.pretty-photo{:href => "artists/#{artist.id}?#{artist.name}"}
                          .photo-thumb
                            = image_tag artist.profile_picture_url(:thumb)
                          .overlay
                            %span.gallery-icon.centered-axis-xy
                            %i.fa.fa-plus.fa-2x

                    - if(artist.category == "label")
                      .gallery-photo-item.mix.label.wow.fadeIn
                        %a.pretty-photo{:href => "artists/#{artist.id}?#{artist.name}"}
                          .photo-thumb
                            = image_tag artist.profile_picture_url(:thumb)
                          .overlay
                            %span.gallery-icon.centered-axis-xy
                            %i.fa.fa-plus.fa-2x

                    - if(artist.category == "management")
                      .gallery-photo-item.mix.management.wow.fadeIn
                        %a.pretty-photo{:href => "artists/#{artist.id}?#{artist.name}"}
                          .photo-thumb
                            = image_tag artist.profile_picture_url(:thumb)
                          .overlay
                            %span.gallery-icon.centered-axis-xy
                            %i.fa.fa-plus.fa-2x
                          
/ end gallery
