#services
  .container
    .row
    / start gallery
    #gallery.text-center
      .container
        .row.text-center
          .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
            %nav
              %ul.filters
                %li.hvr-sweep-to-top.active.filter{"data-filter" => ".model"}
                  %span Models
                %li.hvr-sweep-to-top.filter{"data-filter" => ".label"}
                  %span Labels
                %li.hvr-sweep-to-top.filter{"data-filter" => ".management"}
                  %span Management  

      .container-fluid
        .row.gallery.text-center
          .col-md-12.noPadding
            .gallery-photo-grid
              .gallery-photos
                .gallery-photos-thumb
                  -for artist in @artists  
                    - if(artist.category == "model")
                      .gallery-photo-item.mix.model.wow.fadeIn
                        %a.pretty-photo{:href => "artists/#{artist.id}?#{artist.name}"}
                          .photo-thumb
                            = image_tag artist.profile_picture_url(:thumb)
                          .overlay
                            %span.gallery-icon
                            %i.fa.fa-play.fa-2x

                    - if(artist.category == "label")
                      .gallery-photo-item.mix.label.wow.fadeIn
                        %a.pretty-photo{:href => "artists/#{artist.id}?#{artist.name}"}
                          .photo-thumb
                            = image_tag artist.profile_picture_url(:thumb)
                          .overlay
                            %span.gallery-icon
                            %i.fa.fa-play.fa-2x

                    - if(artist.category == "management")
                      .gallery-photo-item.mix.management.wow.fadeIn
                        %a.pretty-photo{:href => "artists/#{artist.id}?#{artist.name}"}
                          .photo-thumb
                            = image_tag artist.profile_picture_url(:thumb)
                          .overlay
                            %span.gallery-icon
                            %i.fa.fa-play.fa-2x
                          
/ end gallery

:javascript
