#services
  .container
    .row
/ download
#reservation.module.parallax.parallax-reservation
  .container
    .row
      %h1.wow.fadeInUp{"data-wow-duration" => "1s"} #{@artist.name}
      %p.wow.fadeIn{"data-wow-duration" => "1s"}
      .row.text-center
        .social.affix-social
          %a{:href => "http://www.facebook.com"}
            %i.fa.fa-facebook.fa-2x
          %a{:href => "http://www.google.com"}
            %i.fa.fa-google.fa-2x
          %a{:href => "http://www.linkedin.com"}
            %i.fa.fa-linkedin.fa-2x
          %a{:href => "http://www.pinterest.com"}
            %i.fa.fa-pinterest.fa-2x
          %a{:href => "http://www.twitter.com"}
            %i.fa.fa-twitter.fa-2x
          %a{:href => "http://www.rss.com"}
            %i.fa.fa-rss.fa-2x
          %a{:href => "http://www.skype.com"}
            %i.fa.fa-skype.fa-2x
        
/ start gallery
#gallery.text-center
  .container
    .row.text-center
      .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
        %nav
          %ul.filters
            %li.hvr-sweep-to-top.active.filter{"data-filter" => ".allDownloads", :id => "#all_downloads_tab"}
              %span All Track
            %li.hvr-sweep-to-top.filter{"data-filter" => ".bio"}
              %span Bio 
  .container-fluid
    .row.gallery.text-center
      .col-md-12.noPadding
        .gallery-photo-grid
          .gallery-photos
            .gallery-photos-thumb
              .gallery-photo-item.mix.bio.wow.fadeIn
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/ass.jpg", :id => "#bio_div"}
                  .photo-thumb
                    %img{:alt => "image-1", :src => "images/site-images/400/1.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .col-sm-12.gallery-track-item.mix.allDownloads.wow.fadeIn{"data-wow-delay" => "0.2s"}
                .col-sm-10.col-sm-offset-1
                  %table.table.table-striped
                    %thead
                      %tr
                        %th Track name
                        %th File Size
                        %th
                    %tbody
                      - for track in @songs
                        %tr
                          %td #{track.track_title}
                          %td #{track.track_title}
                          %td #{track.track_title}
                          %td <button type="button" class="btn btn-primary" >download</button>
/ end 

:javascript
  $(document).ready(function(){
    document.getElementById('#bio_div').style.display = 'none';
    document.getElementById('#all_downloads_tab').classList.add("active");
  });
  $('#reservation').css('background-image','url(#{@artist.cover_url})');
