/ start header
%header
  .container-fluid 
    .row
      .col-xs-12
        %a.navbar-brand{:href => "index"}
          %img.logo.img-responsive{:alt => "Night Club logo", :src => "/images/Red-Cup-Logo.gif"}/
        %nav.navbar.navbar-default
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-left
              %li.hvr-underline-from-center.active
                %a.scroll{:href => "/#banner"} HOME
              %li.hvr-underline-from-center
                %a.scroll{:href => "/gallery"} GALLERY
              %li.hvr-underline-from-center
                %a.scroll{:href => "/videos"} VIDEOS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/music"} MUSIC
              %li.hvr-underline-from-center
                %a.scroll{:href => "/events"} EVENTS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/features"} NEWS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/store"} STORE
              %li.hvr-underline-from-center
                %a.scroll{:href => "/contact"} CONTACT
            %ul.nav.navbar-nav.pull-right
              %li.hvr-underline-from-center
                = link_to 'Sign in', new_user_session_path
              %li.hvr-underline-from-center
                = link_to 'Sign up', new_user_registration_path
              %li.hvr-underline-from-center
                = link_to 'Sign out', destroy_user_session_path, :method=>'delete'
              - if current_user
                %div
                  Signed in as... #{current_user.email}
/ end header
- flash.each do |key, value|
  %div{:class => "alert alert-#{key} alert-dismissable"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    = value
