#services
  .container
    .row
    / start gallery
    #gallery.text-center
      .container
        .row.text-center
          .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
            %nav
              %ul.content_filter
                %li.hvr-sweep-to-top.active.filter{"data-filter" => ".albums", :id => "#all_tab"}
                  %span Albums
                %li.hvr-sweep-to-top.filter{"data-filter" => ".featured_club"}
                  %span Featured clubs
                %li.hvr-sweep-to-top.filter{"data-filter" => ".event"}
                  %span Events
                %li.hvr-sweep-to-top.filter{"data-filter" => ".campain"}
                  %span Campaigns

    .row
      .col-sm-9#gallery-content
        .grid
          - for gallery in @galleries
            - if(gallery.category == "featured_club")
              .grid-item.featured_club
                .servicebox-image
                  %a.pretty-photo{"rel" => "prettyPhoto[iframes]", :href => "galleries/#{gallery.id}"}
                    %img.img-responsive{ :src => "#{gallery.image_url(:thumb)}", :alt => "#{gallery.name}"}
                  %div#rcorners-bottom{ :style => "background: #000;" }
                    %p #{gallery.name}

            - if(gallery.category == "event")
              .grid-item.event
                .servicebox-image
                  %a.pretty-photo{"rel" => "prettyPhoto[iframes]", :href => "galleries/#{gallery.id}"}
                    %img.img-responsive{ :src => "#{gallery.image_url(:thumb)}", :alt => "#{gallery.name}"}
                  %div#rcorners-bottom{ :style => "background: #000;" }
                    %p #{gallery.name}

            - if(gallery.category == "campain")
              .grid-item.campain
                .servicebox-image
                  %a.pretty-photo{"rel" => "prettyPhoto[iframes]", :href => "galleries/#{gallery.id}"}
                    %img.img-responsive{ :src => "#{gallery.image_url(:thumb)}", :alt => "#{gallery.name}"}
                  %div#rcorners-bottom{ :style => "background: #000;" }
                    %p #{gallery.name}

:javascript
  $(document).ready(function(){
    document.getElementById('#bio_div').style.display = 'none';
    document.getElementById('#all_tab').classList.add("active");
  });
