
#wrap

  
  / Begin page content
  %section.divider
    = render 'about'
  %section.divider
    = render 'news'
  %section.divider
    = render 'gallery_tabbed_menu'
  %section.divider
    = render 'video'
  %section
    = render 'location'
= render 'footer_button'
  