
#wrap
  = render 'navbar'

  / Fixed navbar
  #banner
  = render 'banner'
  
  / Begin page content
  %section#section1.divider
    .container
      .col-sm-10.col-sm-offset-1
        .page-header.text-center
          %h1 Since 2014
    
        %p.lead.text-center
          A cup nor speaks or talks but is artistic features allows different people and cultures of the community to interact, celebrate good times with old and new friends and family while learning, living and enjoying yourself. Founded in 2014, Red Village is college lifestyle Brand which is built around a community of vibrant youth inclusive of artists, fashion designers, photographers, Villagers. Together supporting, empowering  and exposes the youth to a lifestyle of friendship, building new relations, supporting you favorite brands, music and discovering more to life as well.
        %hr
        %p.lead.text-center
          In short we are Redcupvillage , we supply redcups, we party with Redcups, we have crazy concepts, We throw parties, we play dope music and we love quality and style
          
         
        
        .divider
    .divider
  %section#section2.divider
    .col-sm-10.col-sm-offset-1
      %h1 Latest News
       
      %hr/
    = render 'news'
  %section#section3.divider
    = render 'gallery'
  %section#section4.divider
    = render 'video'
  %section#section7.divider
    = render 'location'
= render 'footer_button'
 