
#wrap

  
  / Begin page content
  %section#about.divider
    = render 'about'
  %section#news.divider
    = render 'news'
  %section#gallery.divider
    = render 'gallery'
  %section#video.divider
    = render 'video'
  %section#location
= render 'footer_button'
  