
#wrap.bg-1
  
  
  / Begin page content
  %section#section1.divider
    = render 'about'
  %section#section2.divider
    = render 'news_tabbed_menu'
  %section#section3.divider
    = render 'gallery_tabbed_menu'
  %section#section4.divider
    = render 'video'
  %section#section7.divider
    = render 'location'
= render 'footer_button'
 