
#wrap

  
  / Begin page content
  %section#about.divider
    = render 'about'
  %section#news.divider
    = render 'news'
  %section.divider
    = render 'gallery_tabbed_menu'
  %section#video.divider
    = render 'video'
  %section#location
    = render 'location'
= render 'footer_button'
  