.container
  .row
    / start banner
    #slider.flexslider
      %ul.slides      
        - for banner in @banners
          %li
            %img{:alt => "#{banner.name}", :src => "#{banner.image_url}"}
            .flex-caption-block
              %p.flex-caption #{banner.name}
              %br
              %p.flex-link
                %a{:href => "#"} More here
    #carousel.flexslider
      %ul.slides      
        - for banner in @banners
          %li
            %img{:alt => "#{banner.name}", :src => "#{banner.image_url}"}
              / .caption #{banner.name}
              / .caption.link
              /  %a{:href => "#"} More here
  / end banner

  .club-profiles.module.parallax.parallax-profiles.row
    .col-md-12
      .club-heading
        %h1.wow.fadeInUp{"data-wow-duration" => "1s"} Redvillage TV
      #player.col-sm-8
        :javascript
          // 2. This code loads the IFrame Player API code asynchronously.
          var tag = document.createElement('script');

          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // 3. This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.
          var player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
              height: '520',
              width: '100%',
              videoId: 'foQusxK9iT8',
              events: {
                'onReady': onPlayerReady,
              }
            });
          }

          // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
            event.target.getPlayList();
          }

          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          var done = false;
          function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
              setTimeout(stopVideo, 6000);
              done = true;
            }
          }
          function stopVideo() {
            player.stopVideo();
          }
          function playVideo(videoId) {          
            player.loadVideoById(videoId, 0, "medium");
          }
      .col-md-12
        #video_carousel.flexslider
          %ul.slides
            -for video in @videos
              %li
                .vid-item
                  .thumb
                    %a{:href => "#{video.link}", :onclick => "playVideo('#{video.uid}')"}
                      %img{:src => "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg"}
                      .desc
                        #{video.title}


  / start hot box
  .club-profiles.module.parallax.parallax-profiles.services.row
    .col-md-12
      .club-heading
        %h1.wow.fadeInUp{"data-wow-duration" => "1s"} Hot Boxx &trade;
        %article.viewport
          %section.cube
            %div#face1
              %a.cube-div{:href => "http://www.paulrhayes.com/2010-09/3d-css-cube-ii-touch-gestures-click-and-drag/", :target => "_top"}
            %div#face2
              %a.cube-div{:href => "http://www.paulrhayes.com/2010-09/3d-css-cube-ii-touch-gestures-click-and-drag/", :target => "_top"}
            %div#face3
              %a.cube-div{:href => "http://www.paulrhayes.com/2010-09/3d-css-cube-ii-touch-gestures-click-and-drag/", :target => "_top"}
            %div#face4
              %a.cube-div{:href => "http://www.paulrhayes.com/2009-07/animated-css3-cube-interface-using-3d-transforms/", :target => "_top"}
            %div#face5
              %a.cube-div{:href => "http://www.paulrhayes.com/2009-07/animated-css3-cube-interface-using-3d-transforms/", :target => "_top"}
            %div#face6
              %a.cube-div{:href => "http://www.paulrhayes.com/2009-07/animated-css3-cube-interface-using-3d-transforms/", :target => "_top"}
 
  / LightWidget WIDGET
  .club-profiles.module.parallax.parallax-profiles.services.row
    .col-md-4
      .club-heading
        %h1.wow.fadeInUp{"data-wow-duration" => "1s"} Instagram
      #gallery.text-center
        .container
          .row.text-center
            .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
              %nav
                %ul.filters
                  %li.hvr-sweep-to-top.active.filter{"data-filter" => ".all"}
                    %span #CCW
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".label"}
                    %span #MMM
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".management"}
                    %span #fresh  

      %script{:src => "//lightwidget.com/widgets/lightwidget.js"}
      %iframe#lightwidget_4b69af7296.lightwidget-widget{:allowtransparency => "true", :name => "lightwidget_4b69af7296", :scrolling => "no", :src => "//lightwidget.com/widgets/4b69af7296a85a5e86fd7378cb9a9cf1.html", :style => "width: 100%; border: 0; overflow: hidden;"}

    .col-md-3
      .club-heading
        %h1.wow.fadeInUp{"data-wow-duration" => "1s"} Heading 2

    .col-md-3
      .club-heading
        %h1.wow.fadeInUp{"data-wow-duration" => "1s"} Heading 3
%link{:href => "/css/experiment-styles.css", :rel => "stylesheet"}/
%link{:href => "/css/touch.css", :rel => "stylesheet"}/

%script{:src => "/js/touch.js"}

:javascript
  $('#face1').css("background-image", "url(/images/CHIooMZW4AAvYBT.jpg)");
  $('#face2').css("background-image", "url(/images/gallery-img1.jpg)");
  $('#face3').css("background-image", "url(/images/gallery-img8.jpg)");
  $('#face4').css("background-image", "url(/images/gallery-small-img-5.jpg)");
  $('#face5').css("background-image", "url(/images/gallery-small-img-12.jpg)");
  $('#face6').css("background-image", "url(/images/jj.png)");
