/ Begin page content
  %section#section1.divider
    = render 'about'
  %section#section2.divider
    = render 'news'
  %section#section3.divider
    = render 'gallery'
  %section#section4.divider
    = render 'video'
  %section#section7.divider
    = render 'location'
= render 'footer_button'
 