%script{:src => "/scripts/masonry.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.init.js", :type => "text/javascript"}
.container
  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end
    / start services
    .row
      .col-sm-9.services
        .row
          .col-sm-12
            .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
              %nav.pull-right
                %ul.content_filter
                  %li.hvr-sweep-to-top.active.filter{"data-filter" => ".fashion", :id => "#fashion"}
                    %span Fashion
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".gadgets"}
                    %span Healthy Living
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".healthyLiving"}
                    %span Street Hustle
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".gadgets"}
                    %span Gadgets

          .col-sm-12#gallery-content
            .grid
              - for article in @lifestyle
                - if(article.category == "healthyLiving")
                  .grid-item.grid-sizer.col-sm-12.servicebox.healthyLiving
                    .servicebox-image.col-sm-4
                      %img.img-responsive{:alt => "#{article.title}", :src => "#{article.image_url}"}
                    .servicebox-inner.col-sm-8
                      %p
                        #{article.title}
                        %br/
                        %i.fa.fa-fw.fa-calendar 
                        #{article.created_at.strftime("%d %b %Y")}
                        %br/
                        %a{:href => "#{article.link}"} #{article.intro}

                - if(article.category == "fashion")
                  .grid-item.grid-sizer.col-sm-12.servicebox.fashion
                    .servicebox-image.col-sm-4
                      %img.img-responsive{:alt => "#{article.title}", :src => "#{article.image_url}"}
                    .servicebox-inner.col-sm-8
                      %p
                        #{article.title}
                        %br/
                        %i.fa.fa-fw.fa-calendar 
                        #{article.created_at.strftime("%d %b %Y")}
                        %br/
                        %a{:href => "#{article.link}"} #{article.intro}

                - if(article.category == "streetHustle")
                  .grid-item.grid-sizer.col-sm-12.servicebox.streetHustle
                    .servicebox-image.col-sm-4
                      %img.img-responsive{:alt => "#{article.title}", :src => "#{article.image_url}"}
                    .servicebox-inner.col-sm-8
                      %p
                        #{article.title}
                        %br/
                        %i.fa.fa-fw.fa-calendar 
                        #{article.created_at.strftime("%d %b %Y")}

                        %br/
                        %a{:href => "#{article.link}"} #{article.intro}

                - if(article.category == "gadgets")
                  .grid-item.grid-sizer.col-sm-12.servicebox.gadgets
                    .servicebox-image.col-sm-4
                      %img.img-responsive{:alt => "#{article.title}", :src => "#{article.image_url}"}
                    .servicebox-inner.col-sm-8
                      %p
                        #{article.title}
                        %br/
                        %i.fa.fa-fw.fa-calendar 
                        #{article.created_at.strftime("%d %b %Y")}
                        %br/
                        %a{:href => "#{article.link}"} #{article.intro}


      / Adverts
      .col-sm-3
        .side-adverts
          %ul.advert-image
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}

:javascript
  $(document).ready(function(){
    document.getElementById('#fashion').classList.add("active");
    $('.grid').masonry({
      // options...
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });

  });
