.container
  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end
    #gallery
      #gallery-header
        #gallery-header-center
          #gallery-header-center-left
            #gallery-header-center-left-title All
          #gallery-header-center-right
            #filter-all.gallery-header-center-right-links All
            #filter-latest.gallery-header-center-right-links Latest
            #filter-trending.gallery-header-center-right-links Trending
      #gallery-content.services
        #gallery-content-center.row
          -for article in @lifestyle
            %a.servicebox.col-sm-3.all.latest{:href => "#{article.link}"}
              %img.img-responsive{:alt => "#{article.title}", :src => "#{article.image_url}"}
              .servicebox-inner.text-left
                %h2 #{article.title}
                %p #{article.intro}
