#services
  .container
    .row
.container
  %h1 New Event
  = form_for @event, html: { class: "form-horizontal"} do |f|
    = render 'shared/errors', object: @event
    .form-group
      = f.label :name, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_field :name, class: 'form-control', required: true
        %span.help-block Event name.
    .form-group
      = f.label :image, :class => "control-label col-sm-2"
      .col-sm-10
        = f.file_field :image, required: true
        %span.help-block Event Poster.
    .form-group
      = f.label :summary, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_area :summary, class: 'form-control', required: true
        %span.help-block  Event headlines.
    .form-group
      = f.label :date, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_field :date, class: 'form-control', required: true
        %span.help-block Event date.
    .form-group
      = f.label :start_time, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_field :start_time, class: 'form-control', required: true
        %span.help-block Event date.
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
