<div class="container" style="margin-top:200px">
  <div class="row">
    
    <h1> <%= @album.name %><h1>                
          <p>
            <%= link_to "Add a track", new_music_path(:album_id => @album) %> |
            <%= link_to "Remove Album", @album, :confirm => 'Are you sure?', :method => :delete %> |
            <%= link_to "View All Albums", albums_path %>
          </p>
        </div>
        <div id="musics">
          <% for track in @album.musics %>
          <div class="col-md-4" style="height:300px">
            <%= image_tag track.gimage_url(:thumb) if track.image? %>
            <div class="name"><%= track.name %></div>
            <div class="actions">
              <%= link_to "edit", edit_music_path(track) %> |
              <%= link_to "remove", track, :confirm => 'Are you sure?', :method => :delete %>
            </div>
          </div>
          <% end %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
  </div>
</div>
