<div class="container" style="margin-top:200px">
  <div class="row">
    
    <h1> <%= @gallery.name %><h1>                
          <p>
            <%= link_to "Add a Images", new_image_path(:gallery_id => @gallery) %> |

            <%= link_to "View All Galleries", galleries_path %>
          </p>
        </div>
        <div id="images">
          <% for image in @gallery.images %>
          <div class="col-md-4" style="height:300px">
            <%= image_tag image.image_url(:thumb) if image.image? %>
            <div class="name"><%= image.name %></div>
            <div class="actions">
              <%= link_to "edit", edit_image_path(image) %> |
              <%= link_to "remove", image, :confirm => 'Are you sure?', :method => :delete %>
            </div>
          </div>
          <% end %>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
  </div>
</div>
