#services
  .container
    .row

%h1 Listing galleries
%table
  %tr
    %th Galleries
    %th
    %th
    %th
  - @galleries.each do |gallery|
    %tr
      %td= gallery.file
      %td= link_to 'Show', gallery
      %td= link_to 'Edit', edit_gallery_path(gallery)
      %td= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Gallery', new_gallery_path
