#services
  .container
    .row
/ start gallery
#gallery.text-center
  .container
    .row.text-center
      .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
        %nav
          %ul.filters
            %li.hvr-sweep-to-top.active.filter{"data-filter" => "all"}
              %span All
            %li.hvr-sweep-to-top.filter{"data-filter" => ".active"}
              %span Currently Enabled
            %li.hvr-sweep-to-top.filter{"data-filter" => ".disabled  "}
              %span Disabled
  .container-fluid
    .row.gallery.text-center
      .col-md-12.noPadding
        .gallery-photo-grid
          .gallery-photos
            .gallery-photos-thumb
              - for banner  in @banners
                .col-md-4{:style => "height:300px"}
                  %h1
                    #{banner.name}
                  .col-md-12
                    %a{:href => "#"}
                      = image_tag banner.image_url(:thumb) if banner.image?
                  .col-md-12
                    %p
                      #{banner.title}
                    %p
                      = link_to "edit", edit_main_banner_path(banner) | 
                      #{link_to "remove", banner, :confirm => 'Are you sure?', :method => :delete}
