%link{:href => "/css/ticker.css", :rel => "stylesheet"}/
/%link{:href => "/css/Icomoon/style.css", :rel => "stylesheet", :type => "text/css"}/
/%link{:href => "/css/animated-masonry-gallery.css", :rel => "stylesheet", :type => "text/css"}/
/%script{:src => "/scripts/jquery-2.0.2.min.js", :type => "text/javascript"}
/%script{:src => "/scripts/jquery-ui-1.10.4.min.js", :type => "text/javascript"}
/%script{:src => "/scripts/jquery.isotope.min.js", :type => "text/javascript"}

.container
  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end

    /news tabs
    .row
      .col-md-12
        .ticker-container
          .ticker-caption
            %p News
          %ul
            %div
              %li
                %span.breaking_news
                  Breaking News 1 –
                  %a{:href => "#"} read more
            %div
              %li
                %span.breaking_news
                  Breaking News 2 –
                  %a{:href => "#"} read more
    /.col-sm-9
      #gallery-header-center.clearfix          
        #gallery-header-center-left.pull-left
          #gallery-header-center-left-title All
        #gallery-header-center-right.pull-right              
          #filter-all.gallery-header-center-right-links All
          #filter-latest.gallery-header-center-right-links Latest
          #filter-trending.gallery-header-center-right-links Trending
    .row
      #gallery-content
        #gallery-content-center.services
          -for feature in @features
            .servicebox.all.latest.col-md-4.col-sm-6
              %a{:href => "#{feature.link}"}
                %img.img-responsive{:alt => "#{feature.heading}", :src => "#{feature.image_url}"}
                .servicebox-inner
                  %h2 #{feature.heading}
                  / %p #{feature.intro}

      / Adverts
      .col-sm-3
        .side-adverts
          %ul.advert-image
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
            %li
              %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}
  
