.container
  .row
    / start banner
    #slider.flexslider
      %ul.slides      
        - for banner in @banners
          %li
            %img{:alt => "#{banner.name}", :src => "#{banner.image_url}"}
            .flex-caption-block
              %p.flex-caption #{banner.name}
              %br
              %p.flex-link
                %a{:href => "#"} More here
    #carousel.flexslider
      %ul.slides      
        - for banner in @banners
          %li
            %img{:alt => "#{banner.name}", :src => "#{banner.image_url}"}
              / .caption #{banner.name}
              / .caption.link
              /  %a{:href => "#"} More here
  / end banner

  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end

    /news tabs
    .row
      .col-sm-9.front-news
        .row
          %h1.text-center.wow.fadeInUp{"data-wow-duration" => "2s"} News
          .col-sm-12.text-center
            .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
              %nav
                %ul.filters
                  %li.hvr-sweep-to-top.active.filter{"data-filter" => ".latest", :id => "#latest_news"}
                    %span Latest
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".trending"}
                    %span Trending
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".media"}
                    %span Media

        / start services
        .row
          .col-sm-12.services
            .services-inner
              -for feature in @features
                .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
                  %a{:href => "#{feature.link}"}
                    %img.img-responsive{:alt => "#{feature.heading}", :src => "#{feature.image_url}"}
                  .servicebox-inner.text-left.wow.slideInLeft
                    %h2 #{feature.heading}
  
      / Breaking News
      .col-sm-3
        %h1.text-center.wow.fadeInUp{"data-wow-duration" => "2s"} Breaking News
        %ul
          %li News 1
          %li News 2
          %li News 3
