.container
  %h1 New Feture
  = form_for @feature, html: { class: "form-horizontal"} do |f|
    = render 'shared/errors', object: @feature
    .form-group
      = f.label :heading, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_field :heading, class: 'form-control', required: true
        %span.help-block Article Heading.
    .form-group
      = f.label :image, :class => "control-label col-sm-2"
      .col-sm-10
        = f.file_field :image, required: true
        %span.help-block A link to article.
    .form-group
      = f.label :intro, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_field :intro, class: 'form-control', required: true
        %span.help-block Article Introduction.
    .form-group
      = f.label :link, :class => "control-label col-sm-2"
      .col-sm-10
        = f.text_field :link, class: 'form-control', required: true
        %span.help-block A link to article.
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            %input{:type => "checkbox"}/
            Remember me
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
