#services
  .container
    .row
.container
  %h1 New Feture
  = form_for @feature do |f|
    = render 'shared/errors', object: @feature
    .form-group
      = f.label :link
      = f.text_field :link, class: 'form-control', required: true
      %span.help-block A link to article.
    = f.submit class: 'btn btn-primary'
